{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}
header,footer,body > div[class*=section] {
border: 2px solid red;
}
.btn {
    background: linear-gradient(to right, #fbc026, #ff8024 );
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
}
.btn:hover {
    background: linear-gradient(to left, #fbc026, #ff8024 );
}
/* header-top */
.header_top {
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 7px 0;
}
.logo {
    width: 100px;
    height: 76px;
    background: url(../images/logo.png)no-repeat center center/cover;
    transition: 0.3s;
}
.logo:hover {
    margin-left: 10px;
    transition: 0.3s;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style-type: none;
    margin: 0 15px;
    font-size: 15px;
    cursor: pointer;
}
nav a {
    font-weight: 700;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
    display: flex;
    align-items: center;
}
nav a:hover {
    color: #e87c15;
    transition: 0.3s;
}
nav a::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/menu_before.png) no-repeat center center/cover;
    margin-left: -23px;
    margin-right: 3px;
    opacity: 0;
}
nav a:hover::before {
    opacity: 1;
    transition: 0.7s;
}
.phone {
    font-weight: 700;
}
/*header-bottom*/

.header_bottom {
    border: 1px solid;
    display: flex;
}
.header_bottom > div {
    border: 1px solid;
    height: 400px;
    flex-basis: 50%;
}
.header_bottom-left {
    display: flex;
    justify-content:center;
    align-items: center;
    background: #fff4bc;
}
.header_bottom-left > div {
   
    flex-basis: 50%;
}
h1 {
    font-size: 30px;
    margin-bottom: 30px;
}
.header_bottom-left > p {
    margin: 20px 0;
    text-transform: uppercase;
    line-height: 25px;
}
.header_bottom-left a {
    text-decoration: none;
    font-size: 9px;
}
.header_bottom-right {
    background: url(../images/header.jpg) no-repeat center center/cover;
}

/* section */

body > div[class*=section] {
    padding: 50px 0;
}
h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-weight: 700;
}
/* section 2*/
