a:link {
    color: pink;
}
a:visited {
    color: rgb(10, 124, 124);
} 

/*input:focus {
    background: rgb(255, 150, 150);
    width: 200px;
    height: 50px;
}*/
.example {
    width: 200px;
    height: 200px;
    background: orange;
}
.example:hover .example_child {
    display:none;
}
.example_child {
    height: 100px;
    width: 200px;
    background: red;
}
input[type="checkbox"]:checked + input[type="text"]{
    background: red;
    height: 100px;
}
.example2 span:nth-child(4) {
    color: red;
}
.example2 p:nth-last-child(3) {
    color: red;
}
.pseudo {
    width: 100px;
    height: 100px;
    background: red;
    transform: rotate(45deg);
    }
    
/*.pseudo::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid;
    background: red;
}*/
ul li {
    list-style-type:none;
}
ul li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/icon.png") no-repeat center/cover;
}
.flex {
    width: 100%;
    background: darkgray;
    display: flex;
    /*flex-direction: column-reverse;*/
    justify-content:flex-end;
    align-items: baseline;
    flex-wrap:nowrap;
}
.flex1 {
    width: 70px;
    height: 70px;
    background: green;
}
.flex2 {
    width: 100px;
    height: 100px;
    background: orange;
}
.flex3 {
    width: 130px;
    height: 130px;
    background: red;
}
.flex4 {
    width: 150px;
    height: 150px;
    background: blue;
}
.inline {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid;
    background: orange;
   /* display: flex;
    justify-content: center;*/
}